body {
  margin: 0;
  background: linear-gradient(89deg, #f05adb, #04c8de);
  font-family: "Courier New", Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
